
App.css
body {
  background-color: #020617 !important; 
  color: #f8fafc;
}
.icon-container svg {
  display: block !important;
  visibility: visible !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
